<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vladimirdaniyan.android.memo"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
      
        <activity
            android:name="com.vladimirdaniyan.android.memo.ListMemoActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vladimirdaniyan.android.memo.EditMemoActivity"
            android:label="@string/title_activity_edit_memo"
            android:parentActivityName="com.vladimirdaniyan.android.memo.ListMemoActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" 
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.azazeleleven.android.memo.MainActivity" />
        </activity>

        <service
            android:name="com.vladimirdaniyan.android.memo.MemoExtension"
            android:icon="@drawable/ic_stat_memo"
            android:label="@string/extension_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
        </service>
        
    
    </application>

</manifest>